@import url('https://fonts.googleapis.com/css2? family= Source+Sans+Pro:wght@300 & display=swap');

body{
    background-image: radial-gradient(circle at 50% -20.71%, #ffffa1 0, #f5ffa0 6.25%, #e4ffa0 12.5%, #d2ffa1 18.75%, #bdffa3 25%, #a7fda6 31.25%, #8cfaaa 37.5%, #6cf7af 43.75%, #3cf2b5 50%, #00edbc 56.25%, #00e8c6 62.5%, #00e4d0 68.75%, #00dfdc 75%, #00dbe9 81.25%, #00d7f5 87.5%, #00d3ff 93.75%, #00d0ff 100%);
    margin-left: 30px;
    margin-right: 30px;
    color: white;
}

header{
    display: flex;
    justify-content: space-between;
}

h1 { 
    font-size: 45px;
    box-shadow: .6em 0 0 #05ffa3;
    margin: 2rem 1rem;
    width: 7ch;
    overflow: hidden;
    color: rgb(134, 112, 201);
    white-space: nowrap;
    animation: caret .1s step-end infinite alternate,
               type 1s steps(23, end)
}
  
  
  
@keyframes type {
    0% {
      width: 0;
    }
  
}
@keyframes caret { 
    50% { 
      box-shadow: .6em 0 0 transparent;
    }
}
 

ul{
    flex-direction: row;
    display: flex;
    list-style-type: none;
}

a{
    margin: 15px;
    color: rgb(134, 112, 201);
    text-decoration: none;

}

a:hover{
    color: white;
    transition: 0.3s all;
}

li{
    border: white 1.5px solid;
    border-radius: 15px;
    padding: 10px;
}

li:hover{
    background-color: rgb(134, 112, 201);
    transition: 0.4s all;
    border: black;
}

main{
    display: flex;
    position: relative;
    padding-bottom: 170px;
}

aside{
    margin-top: 30px;
}

h2{
    line-height: 10px;
    font-size: 56px;
}


img{
    width: 500px;
    margin-left: 50px;
    margin-top: 50px;
    border-radius: 30px;
    position:relative
}

img:hover{
    top:-2px;
    box-shadow:0 2px 2px #667;
}

p{
    text-align: justify;
    max-width: 70%;
}

p:hover{
    color: black;

}

#px{
    color: white;
}

#px:hover{
    color: black;
    transition: 0.3s all;
}

#pr{
    color: white;
}

#pr:hover{
    color: rgb(134, 112, 201);
    transition: 0.3s all;
}
form{
    display:flex;
    flex-direction: column;
}

input{
    border: transparent;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    width: 40%;
}

input[type="submit"]{
    width: 20%;
    color: white;
    background-color: rgb(134, 112, 201);
    position: relative;
}

input[type="submit"]:hover{
    color: rgb(134, 112, 201);
    background-color: white;
    transition: 0.3s all;
    margin-top: 4px;
}

footer{
    text-align: center;
    margin-bottom: 20px;
}